/* CSS declarations go here */
#grid {
    font-size: 125%;
    position:absolute;
    background-color: #f5f2ff;
    width:  80%;
    height: 100%;
    top:  0%;
    left: 20%;
}

div.box {
    position:absolute;
    border:2px solid black;
    width:46px;
    height:46px;
    text-align:center;
    line-height:48px;
    background-color: white
}

.dragbox_parent {
    position:absolute;
    border:0px solid black;
    top: 0px;
    left: 0px;
}

.dragbox {
    position:absolute;
    width:46px;
    height:46px;
    border:2px solid gray;
}

div.box.selected {
    border:2px solid purple;
    -webkit-box-shadow: 0px 0px 1px 1px purple;
    -moz-box-shadow: 0px 0px 1px 1px purple;
    box-shadow: 0px 0px 1px 1px purple;
    z-index: 1;
}
